.assets {
    li {
        position:relative;
        margin-bottom: $base * 2;
        // height: 50%;
    }
    form {
        position: absolute;
        top: -1em;
        right: 0;
    }

    input[type=submit] {
        border: none;
        background-color: $c-vzla-yellow;
        color: black;
        border-radius: 50%;
        transform: rotate(45deg);
        font-size: 1.25rem;
        font-weight: bold;
        display: block;
        width: 1.5em;
        height: 1.5em;
        @include default-transition;
        &:hover, &:focus {
            outline: none;
            background-color: $c-black;
            color: $c-white;
        }
    }
}
