.assets {
    li {
        position:relative;
        margin-bottom: $base * 2;
        // height: 50%;
    }
    form {
        position: absolute;
        top: -1em;
        right: 0;
    }

    button[type="submit"] {
        border: none;
        background-color: #ffcc00;
        color: black;
        border-radius: 50%;
        font-size: 1.25rem;
        width: 1.5em;
        height: 1.5em;
        -webkit-transition: 1s ease all;
        transition: 1s ease all;
        padding: 0.2em 0.2em;
        @include default-transition;
        &:hover, &:focus {
            outline: none;
            background-color: $c-black;
            color: $c-white;
        }
    }
}
