.btn {
    &-primary {
        background-color: $c-vzla-yellow;
        border: 1px solid $c-vzla-yellow;
        box-shadow: -4px 4px 0 0 $c-vzla-red;
        color: $c-black;
        @include default-transition;
        &:hover {
            background-color: $c-vzla-yellow;
            border: 1px solid $c-vzla-yellow;
            box-shadow: -6px 6px 0 0 $c-vzla-red;
            color: $c-black;
            text-shadow: -2px 2px 0px transparentize($c-black, .75);
        }
    }
    &-link {
        color: $c-vzla-red;
        @include default-transition;
        &:hover {
            color: $c-vzla-blue;
        }
    }

    &-circle {
        @extend .btn-primary;
        border-radius: 50%;
        font-size: 2rem;
        padding: 0em 0.5em;
    }

    &-return {
        @extend .btn-circle;
        border-radius: 50%;
        padding: 0em 0.3em;
        & span:before {
            vertical-align: middle;
        }
    }
}
