.btn {
    &-primary {
        background-color: $c-vzla-red;
        border: 1px solid $c-vzla-red;
        @include default-transition;
        &:hover {
            background-color: $c-vzla-blue;
            border: 1px solid $c-vzla-blue;
        }
    }
    &-link {
        color: $c-vzla-red;
        @include default-transition;
        &:hover {
            color: $c-vzla-blue;
        }
    }
}
