.clndr-table {
    @extend .table;
    @extend .table-responsive;
    background-color: $c-white;

    .event {
        color:$c-vzla-red;
        text-decoration: underline;
        cursor: pointer;
        font-weight: bold;
        transition: 1s ease all;
        &:hover {
            color: white;
            background-color: $c-vzla-blue;
            text-decoration: none;
        }
    }

    tbody tr td {
        padding: 0;
        vertical-align: middle;
        text-align: center;
        height: 0;
        padding: 2em 0;
        border:none;
        color: darken($body-bg, 10%);
    }
}

.clndr-controls {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
}

.month {
    margin-top: 0;
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
    color:$c-vzla-red;
}

.clndr-previous-button {
    @extend .glyphicon;
    @extend .glyphicon-chevron-left;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease all;
    &:hover {
        color: $c-vzla-red;
    }
}

.clndr-next-button {
    @extend .glyphicon;
    @extend .glyphicon-chevron-right;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease all;
    &:hover {
        color: $c-vzla-red;
    }
}
.header-day {
    text-align: center;
}
