* {
    box-sizing: border-box;
}
:root, html, body {
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $c-black;
    transition: ease 1s all;
    margin: 0;
}

a {
    color: $c-black;
    text-decoration: none;
    &:hover, &:focus {
        color: $c-grey;
    }
}

img {
    display: block;
    width: 100%;
    height: auto;
}

@mixin default-transition {
    transition: .3s ease all;
}

ul {
    list-style: none;
    padding: 0;
}
