* {
    box-sizing: border-box;
}
:root, html, body {
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $c-black;
    transition: ease 1s all;
    margin: 0;
}

a {
    color: $c-black;
    text-decoration: none;
    &:hover, &:focus {
        color: $c-grey;
    }
}

img {
    display: block;
    width: 100%;
    height: auto;
}

@mixin default-transition {
    transition: 1s ease all;
}

ul {
    list-style: none;
    padding: 0;
}

.btn {
    &-primary {
        background-color: $c-vzla-red;
        border: 1px solid $c-vzla-red;
        @include default-transition;
        &:hover {
            background-color: $c-vzla-blue;
            border: 1px solid $c-vzla-blue;
        }
    }
    &-link {
        color: $c-vzla-red;
        @include default-transition;
        &:hover {
            color: $c-vzla-blue;
        }
    }
}
