.navigation {
    border-bottom: 2px solid $c-black;
    padding: 0 $base;
    &__brand {
        margin-top: $base / 2;
        letter-spacing: .1em;
        font-size: 1.8rem;
    }

    &__login {
        padding: 0;
        margin-top: 1.8em;
        list-style: none;
        li {
            text-align: right;
        }
    }
    &__logged {
        list-style: none;
        padding: 0;
        display: none;
        position: absolute;
    }
    &__username {
        text-decoration: underline;
    }
}
