.slick-prev, .slick-next {
    z-index: 1;
}

.slick-prev {
    left: 2%;
}

.slick-next {
    right: 5%;
}



.slick-prev:before, .slick-next:before {
    font-size: 2rem;
    line-height: 1;
    color: $c-white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots {
    bottom: 5%;
    li {
        &.slick-active button:before {
            color: $c-white;
        }
        & button:before {
            font-size: 12px;
            width: 40px;
            height: 40px;
            color: $c-white;
        }
    }
}

.slider__panel-top{
    margin-top: 5%;
}
